<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="Core" connectionString="Data Source=cnabox.database.windows.net; Initial Catalog=CNA.Erp; user id=cnabox; password=Target321$; application Name=Cna.Erp; Connect Timeout=15; Encrypt=False; TrustServerCertificate=False; MultipleActiveResultSets=True" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
       <add name="DbCache" connectionString="Data Source=cnabox.database.windows.net; Initial Catalog=CNA.Erp; user id=cnabox; password=Target321$; application Name=Cna.Erp; Connect Timeout=15; Encrypt=False; TrustServerCertificate=False; MultipleActiveResultSets=True" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
       <add name="MongoServerSettings" connectionString="mongodb://cnaboxcache4494.cloudapp.net/CachePersistent" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
       <add name="MongoServerSettingsQueue" connectionString="mongodb://cnaboxcache4494.cloudapp.net/CachePersistentQueue" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="tokenConfig" value="JWT" />
       <add key="mongoIsUpVerify" value="PING" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="logs" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="DisableAuth" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="enableFakePassword" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="EnableSaveJson" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="environmentTools" value="1;2;3;4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="SmtpHost" value="smtplw.com.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="SmtpUser" value="dmts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="SmtpPassword" value="ttxteKBf3912" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="SmtpPort" value="587" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="enableSSL" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="NameSender" value="CNA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="endPointApiTalk" value="http://localhost:15786/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="Storage" value="Local" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cnabox;AccountKey=xx9Ja/RCgr90RRXcDnIhwKA3P0LBi9TdTUDJCsTjNAjmKQR810ZhZ9OnKn9V7FHGLnWnioYA5cN2XzunBjF9xA==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="ContingencyCache" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="CacheType" value="memcached"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="limitCaractersMemcached" value="10000"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="ServerRedis" value="CNABox.redis.cache.windows.net"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="PortRedis" value="6380"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="PasswordRedis" value="8T9XOpJ2+J6n7B72bTyafE7ViiylbllgP0M7cJuYvSU="  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="ConfRedis" value="ssl=True,abortConnect=False"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="owin:AutomaticAppStartup" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="DesabledDataItemCached" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
       <add key="pathStorage" value="D:\Data\webapp - Homologação\Web\Content\storage\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <customErrors mode="Off"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <enyim.com>
    <memcached protocol="Text">
      <servers>

        <add address="cnaboxcache4494.cloudapp.net" port="11211" xdt:Transform="Replace" />

      </servers>
      <socketPool minPoolSize="100" maxPoolSize="1000" connectionTimeout="00:00:50" deadTimeout="00:00:60" />
    </memcached>
  </enyim.com>
    
</configuration>